body {
    font-family: Arial;
}

.mainScreen {
    display: none;
}

.initializationScreen {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    background: #0c2577;
    color: #fff;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    background-color: #0547ac;
    color: #fff;
}

table th {
    border: solid 1px #fff;
    background-color: #0c2577;
    color: #fff;
    padding: .1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

table td {
    border: solid 1px #fff;
    padding: .5em 1em .5em 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.setwidth {
    max-width: 100px;
}

.concat div {
    overflow: hidden;
    --ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: inherit;
}

.nav-tabs {
    background-color: #0c2577;
    color: #fff;
}

/*
.nav-tabs > li {
    border: solid #fff 1px;
}
*/

.nav-tabs > li > a {
/*    border: medium none; */
    color: #fff;
    font-weight: bold;
/*    border-right: solid 1px #fff; */
}

.nav .active a {
    background-color: #0547ac !important;
    color: #fff !important;
}

.nav-tabs > li > a:hover {
    background-color: #0574ac !important;
/*    border: medium none; */
/*    border-radius: 0; */
}

.screenshot {
    display: block;
    margin: auto;
}

.highlightDuration {
    color: #ff0000;
}

.warnWaitScreenDuration {
    color: #FFFF00;
}

#serverStartTime {
    font-weight: bold;
}

#version {
    font-weight: bold;
}

.buttonrow {
    text-align: right;
    background-color: #0c2577;
    color: #fff;
}

.buttons {
    margin-right: 2em;
}

.buttonrow input {
    margin-left: 1em;
    margin-right: .5em;
}

table tbody tr {
    cursor: pointer;
    cursor: hand;
}


a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: white;
}

a:active {
	color: white;
}
